@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary-color: #0C0B5A;
    --secondary-color: #a38bf9;
}

.content {
    max-height: calc(100vh - 56px) !important;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.custom-bg-light {
    background-color: #F8F9FA !important;
}

.custom-bg-white {
    background-color: white !important;
}

.custom-text-dark {
    color: #212529;
}

.custom-text-muted {
    color: #212529bf;
}

html,
body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.wave-hand {
    display: inline-block;
    animation: wave-shake 1s ease-in-out 1;
    animation-delay: 1s;
    transform-origin: 70% 70%;
}

@keyframes wave-shake {
    0% {
        transform: scale(1) rotate(0deg);
    }
    15% {
        transform: scale(3) rotate(14deg);
    }
    30% {
        transform: scale(2.8) rotate(-8deg);
    }
    45% {
        transform: scale(3) rotate(12deg);
    }
    60% {
        transform: scale(2.8) rotate(-4deg);
    }
    75% {
        transform: scale(2.9) rotate(8deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}


.item {
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.about-item{
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
}
.social-link {
    transition: all 0.2s ease-in;
}

.social-link:hover {
    scale: 1.2;
}

.exp-item,
.edu-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .8s ease, transform .8s ease;
}

.exp-item.show,
.edu-item.show {
    opacity: 1;
    transform: translateY(0);
}

.primary-text {
    color: var(--primary-color) !important;
}

.secondary-text {
    color: var(--secondary-color) !important;
}

.nav-item,
.nav-link {
    color: var(--primary-color) !important;
}

.nav-item:hover {
    color: var(--primary-color) !important;
    text-decoration: underline !important;
}

.card-text {
    color: var(--primary-color) !important;
}

.smaller-font {
    font-size: 12px !important;
}

.justified-text {
    text-align: justify !important;
}

.drop-roles {
    left: -28px !important;
    transform: scale(0.7);
    top: -2px !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cdccff;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

.small-circle {
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}

.cursor-pointer {
    cursor: pointer !important;
}

.show-skills {
    bottom: -11px;
}

.hero {
    overflow-x: hidden;
    animation: slideInLeft 1s ease-in-out forwards;
}

.switch {
    cursor: pointer;
    opacity: 25%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.switch:hover {
    opacity: 90%;
}

.switch.active {
    opacity: 1;
}

.skill-icon {
    padding: 4px;
    transition: all 0.3s ease-out;
    border-radius: 4px;
    height: 50px;
    object-fit: contain;
}

.blue-border {
    border: 5px solid #d1bdff;
}


#carousel-container {
    min-height: max-content;
    transition: 0.3s ease-in-out;
}

.card-item {
    min-width: 270px;
    flex-grow: 1;
    opacity: 50%;
    scale: .8;
    transition: all 0.6s ease-in-out;
}

.card-item:nth-child(1) {
    margin-left: 10%;
}

.card-item.active {
    opacity: 1;
    scale: 1;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.project-img {
    transition: all 0.3s ease-in-out;
    object-fit: contain;
    aspect-ratio: 5/3;
}

.project-icon {
    top: -25px;
    right: 12px;
    transition: all 0.3s ease-in-out;
}

.project-icon:hover {
    scale: 2;
}

.contact-message {
    height: 8rem !important;
    resize: none;
    overflow-y: auto;
}

.switch-theme {
    top: 56px;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 576px) {
    .card-item:nth-child(1) {
        margin-left: 4px;
    }
}

@media screen and (max-width: 769px) {
    .card-item:nth-child(1) {
        margin-left: 12px !important;
    }
}

@media screen and (max-width: 991px) {
    .nav-menu {
        position: fixed;
        top: 0;
        z-index: 9999;
        background-color: #F8F9FA;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

