@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary-color: #0C0B5A;
    --secondary-color: #a38bf9; /*6764FF*/
}

html,
body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}

.content {
    max-height: calc(100vh - 56px) !important;
    overflow-y: auto;
}

.item {
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.exp-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .8s ease, transform .8s ease;
}

.exp-item.show {
  opacity: 1;
  transform: translateY(0);
}

.primary-text {
    color: var(--primary-color) !important;
}

.secondary-text {
    color: var(--secondary-color) !important;
}

.nav-item,
.nav-link {
    color: var(--primary-color) !important;
}

.nav-item:hover {
    color: var(--primary-color) !important;
    text-decoration: underline !important;
}

.card-text {
    color: var(--primary-color) !important;
}

.smaller-font {
    font-size: 12px !important;
}

.justified-text {
    text-align: justify !important;
}

.drop-roles {
    left: -28px !important;
    transform: scale(0.7);
    top: -2px !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cdccff;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

.small-circle {
    width: 12px;
    height: 12px;
    box-sizing: content-box;
}

.cursor-pointer {
    cursor: pointer !important;
}

.show-skills {
    bottom: -11px;
}

.hero {
    overflow-x: hidden;
    animation: slideInLeft 1s ease-in-out forwards;
}
.switch{
    cursor: pointer;
    opacity: 25%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.switch:hover{
    opacity: 90%;
}

.switch.active{
    opacity: 1;
}
.skill-icon{
    padding: 4px;
    transition: all 0.3s ease-out;
    border-radius: 4px;
    /* cursor: pointer; */
    height: 50px;
    object-fit: contain;
}
/* .skill-icon:hover{
    scale: 1.2;
    box-shadow: inset 0 0 10px #b6a5ff;
} */

@keyframes fadeIn {
    from {
        opacity: 10%;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
