<div class="container px-4 mb-5 pb-5 page-bg" id="Contact%20Me">
    <div class="col-12">
        <h3 class="text-md-center text-start fw-bold mb-3">Contact Me</h3>
    </div>
    <div class="col-lg-4 col-md-6 mx-auto">
        <div class="d-flex flex-column justify-content-center align-items-center gap-4 w-auto mx-auto">
            <div class="d-flex flex-row align-items-center justify-content-center border rounded-2 p-2 px-5 cursor-pointer flex-grow-1 w-100">
                <div class="box d-flex flex-md-row flex-column align-items-center justify-content-xl-start justify-content-center gap-3">
                    <img src="icons/gmail.png" width="30px" alt="gladsomeguru">
                    <p class="mb-0">{{'gladsomeguru333@gmail.com'}}</p>
                </div>    
            </div>
            <div class="d-flex flex-row align-items-center justify-content-center border rounded-2 p-2 px-5 cursor-pointer flex-grow-1 w-100">
                <div class="box d-flex flex-md-row flex-column align-items-center justify-content-xl-start justify-content-center gap-3">
                    <img src="icons/linkedin.png" width="30px" alt="gladsomeguru">
                    <p class="mb-0 text-center">Gurunathan Pachaiyappan</p>
                </div>
            </div>
            <a class="btn btn-primary orange-bg w-100 text-white fw-medium" href="resume/Gurunathan.pdf" download="Gurunathan P_SDE_resume.pdf" type="button">Download CV</a>
        </div>
    </div>
    
</div>