<div class="container px-4 page-bg mt-md-0 mt-4" id="About">
  <div class="row pb-5 justify-content-center">
    <div class="col-12">
      <h3 class="text-md-center text-start fw-bold mb-md-5 mb-3">About me</h3>
    </div>
    <div class="col-md-5 col-12 px-md-5 px-2 align-items-center">
      <p class="mb-0">
        I'm P. Gurunathan, a Computer Science Engineer with a passion for
        innovation and technology. I have hands-on experience in web
        development, capstone projects utilizing SQL and Python, and Android
        development. As a freelancer, I've developed websites for real clients,
        and I’m also a co-inventor of a patented system for interactive exams
        for visually impaired students called “EYE CAN”. I’m always eager to
        deliver creative solutions to real-world challenges.
      </p>
    </div>
    <div class="col-md-5 col-12 px-md-5 px-2 mt-md-0 mt-4">
        <h5 class="fw-bold">Education</h5>
        <div class="mb-3">
            <p class="mb-0">B.E CSE 2019-2023 </p>
            <p class="mb-0"><span class="fw-bold">9.02</span>CGPA</p>
            <p class="mb-0">Meenakshi Sundararajan Engineering College</p>
        </div>
        <div class="mb-3">
            <p class="mb-0">HSC 2018-2019 </p>
            <p class="mb-0"><span class="fw-bold">80.83</span>%</p>
            <p class="mb-0">Sir M. Venkatasubba Rao Mat Hr Sec School</p>
        </div>
        <div class="mb-3">
            <p class="mb-0">SSLC 2016-2017</p>
            <p class="mb-0"><span class="fw-bold">94</span>%</p>
            <p class="mb-0">Sir M. Venkatasubba Rao Mat Hr Sec School</p>
        </div>
    </div>
  </div>
</div>
