<div class="container px-4 page-bg" id="Home">
  <div class="row py-5 mb-5 justify-content-center">
    <div class="col-md-4 col-12 h-100">
      <img
        class="image w-100"
        src="/assets/profile.png"
        alt="web-developer"
      />
    </div>
    <div
      class="col-md-6 col-12 mt-md-0 mt-4 d-flex flex-column justify-content-center align-items-center"
    >
      <div class="primary cursor-default">
        <h3 class="fw-bold hello">
          Hello <span class="hello-hand d-inline-block">👋</span>
        </h3>
        <h3 class="fw-bold">
          I am <span class="secondary">Gurunathan,</span>
        </h3>
        <h5 class="fw-bold mt-3 mb-0">Web Developer</h5>
        <p class="mb-0 fs-6">
          Developing ideas into Websites <br />
          Get your Websites Designed & Developed Now!
        </p>
        <div class="d-flex gap-3 mt-3">
          <!-- <button class="btn btn-primary secondary-bg rounded-5 fw-medium" type="button">Hire me</button> -->
          <a class="btn btn-primary orange-bg rounded-5 text-white fw-medium" href="resume/Gurunathan.pdf" download="Gurunathan P_SDE_resume.pdf" type="button">Download CV</a>
        </div>
      </div>
    </div>
  </div>
</div>
